/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.flex-container {
  display: flex;
}
h1,
p,
a {
  font-family: Muli;
}
nav {
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 12.5%;
  position: fixed;
  width: 100%;
  background: rgba(128, 0, 128, 0.475);
}
nav a {
  padding: 10px;
  color: black;
  text-decoration: none;
  color: white;
}
#Home-section {
  height: 100vh;
  background-image: url("../images/header-bg-large.png");
  background-size: cover;
}
@media (max-width: 500px) {
  #Home-section {
    background-size: stretch;
  }
}
.flex-container {
  display: flex;
  align-items: center;
}
.home-text {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 10%;
  line-height: 1.7em;
}
.home-text p,
.home-text h1,
.home-text input {
  padding: 10px;
}
@media (max-width: 500px) {
  .home-text {
    margin-top: 100px;
    width: 100%;
  }
}
.home-iphone {
  height: auto;
  max-width: 40%;
  margin-top: 100px;
}
@media (max-width: 800px) {
  .home-iphone {
    display: none;
  }
}
@media (max-width: 500px) {
  .home-iphone {
    display: none;
  }
}
#About-section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#About-section .iphone-mockup {
  align-self: center;
  max-width: 25%;
  height: auto;
}
@media tablet {
  #About-section .iphone-mockup {
    display: none;
  }
}
@media (max-width: 500px) {
  #About-section .iphone-mockup {
    display: none;
  }
}
#About-section input {
  margin-top: 40px;
}
.about-text {
  margin-top: 30px;
  width: 600px;
  line-height: 1.3em;
}
.about-text h1,
.about-text p,
.about-text img {
  padding: 10px;
}
.about-text input {
  display: block;
}
.bubbles {
  display: flex;
  justify-content: space-around;
}
.bubbles span {
  display: block;
  background-size: auto 100%;
  background-repeat: no-repeat;
  color: white;
  width: 120px;
  height: 90px;
  line-height: 80px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.bubbles li {
  text-align: center;
  font-size: 19px;
  font-family: Muli;
  font-weight: 700;
  list-style: none;
  color: #656565;
}
