#Home-section {
    height: 100vh;
    background-image: url("../images/header-bg-large.png");
    background-size: cover;
    @media @mobile {
        background-size: stretch;
    }
}

.flex-container {
    display: flex;
    align-items: center;
}

.home-text {
    display: flex;
    flex-direction: column;
    // border: 1px solid white;
    width: 40%;
    margin-left: 10%;
    line-height: 1.7em;
    p, h1, input {
        padding: 10px;
    }
    @media @mobile {
        margin-top: 100px;
        width: 100%;

    }
}

.home-iphone {
    height: auto;
    max-width: 40%;
    margin-top: 100px;
    @media @tablet {
        display: none;
    }
    @media @mobile {
        display: none;
    }
}

